<div class="row">
    <div class="col-md-4 hidden-lg">
        <div class="hello">Добро пожаловать в</div>
        <div class="large-name">{{ title }}</div>
        <p class="mat-title">
            <md-icon class="blue">check_circle</md-icon>
            Начните тестировать вашего&nbsp;бота прямо&nbsp;сейчас.
            Для этого просто кликните в&nbsp;поле для&nbsp;печати в&nbsp;мессенджере, где&nbsp;мигает курсор <md-icon>mood</md-icon>
        </p>
        <p class="mat-title">
            <md-icon class="green">check_circle</md-icon>
            Для&nbsp;чего нужен
            чатбот в&nbsp;отеле?<br>
            Что он&nbsp;может?
        </p>
        <p class="mat-title">
            Как&nbsp;управлять
            рейтингом
            с&nbsp;помощью чатбота?
        </p>
        <p class="mat-title">
            <a [routerLink]="['qa']" class="green">Вопросы и ответы <md-icon>arrow_forward</md-icon></a>
        </p>
    </div>
    <div class="col-md-4 visible-lg text-right">
        <div class="hello">Добро пожаловать в</div>
        <div class="large-name">СМАРТ</div>
        <p class="mat-title">
            <md-icon class="blue">check_circle</md-icon>
            Начните тестировать вашего&nbsp;бота прямо&nbsp;сейчас.
            Для этого просто кликните в&nbsp;поле для&nbsp;печати в&nbsp;мессенджере, где&nbsp;мигает курсор <md-icon>mood</md-icon>
        </p>
    </div>
    <div class="col-md-4">
        <smartbot-messenger></smartbot-messenger>
    </div>
    <div class="col-md-4 visible-lg text-left">
        <div class="hello">&nbsp;</div>
        <div class="large-name">ОТЕЛЬ</div>
        <p class="mat-title">
            Для&nbsp;чего нужен <md-icon class="green">check_circle</md-icon><br>
            чатбот в&nbsp;отеле?<br>
            Что он&nbsp;может?
        </p>
        <p class="mat-title">
            Как&nbsp;управлять
            рейтингом
            с&nbsp;помощью чатбота?
        </p>
        <p class="mat-title">
            <a [routerLink]="['qa']" class="green">Вопросы и ответы <md-icon>arrow_forward</md-icon></a>
        </p>
    </div>
</div>
<div class="row">
    <div class="text-center">
        <p class="mat-title darkblue">
            3 шага на пути к СМАРТ: что потребуется сделать
        </p>
    </div>
</div>
