<div class="phone">
  <div class="messages">
    <div *ngFor="let message of messages">

      <div class="message {{ message.author }}" *ngIf="message.author === 'smartbot'">
        <div class="message-text" [innerHTML]="message.text | br"></div>
        <div class="avatar">
          <md-icon>alarm_on</md-icon>
        </div>
      </div>

      <div class="message {{ message.author }}" *ngIf="message.author === 'user'">
        <div class="avatar">
          <md-icon>face</md-icon>
        </div>
        <div class="message-text" [innerHTML]="message.text | br"></div>
      </div>

    </div>
  </div>
  <div class="type-message">
    <md-form-field>
      <textarea mdInput name="message" placeholder="Введите сообщение..." (input)="onFoundMessageControl()" (keyup)="onKeyPress($event)" [(ngModel)]="message" #focusable autofocus>{{ message }}</textarea>
    </md-form-field>
    <button md-button *ngIf="!messageActivated" (click)="activateMessageControl(focusable)" class="reply-to-bot mat-elevation-z8 hidden-xs hidden-sm">Ответить боту <md-icon>arrow_forward</md-icon></button>
  </div>
</div>
