.phone {
    background: url(../../assets/img/phone.png) no-repeat;
    background-size: contain;

    height: 500pt;
    width: 250pt;
}

.type-message {
    position: relative;
    top: 390pt;
    left: 25pt;
    width: 190pt;
}
.type-message textarea {
    width: 100%;
}
.reply-to-bot {
    position: absolute;
    left: -152pt;
    top: 0;
    height: 35pt;
    font-size: 1.5em;
    background-color: #0082e2;
    color: white;
}
.hotelier-room.hidden-xs {
    position: absolute;
    left: 190pt;
    top: 0;
    height: 35pt;
    font-size: 1.5em;
    background-color: #4bd865;
    color: white;
}
.hotelier-room.visible-xs {
    margin-bottom: 30pt;
    background-color: #4bd865;
    color: white;
}

.messages {
    position: absolute;
    top: 110pt;
    left: 30pt;
    height: 270pt;
    width: 205pt;
    overflow-y: scroll;
    border: none;
}

.message div {
    display: inline-block;
}
.message.user .avatar {
    padding-left: 5pt;
}
.message div md-icon {
    vertical-align: -40%;
}
.message.smartbot div md-icon {
    color: #4bd865;
}
.message.user div md-icon {
    color: #5cc7ff;
}
.message .message-text {
    border-radius: 10pt;
    background-color: #eeeeee;
    padding: 8pt;
    margin: 5pt;
    width: 155pt
}
.message.user .message-text {
    background-color: lightskyblue;
}