.phone {
    background: url(../../assets/img/phone.png) no-repeat;
    background-size: contain;

    height: 500pt;
    width: 250pt;
}

.type-message {
    position: relative;
    top: 372pt;
    left: 20pt;
    width: 204pt;
}
.type-message md-form-field {
    width: 100%;
    color: black;
}
.type-message textarea {
    resize: none;
    overflow: hidden;
    color: black;
}

.reply-to-bot {
    position: absolute;
    left: -162pt;
    top: 5pt;
    height: 35pt;
    font-size: 1.5em;
    background-color: #0082e2;
    color: white;
}

.messages {
    position: absolute;
    top: 93pt;
    left: 30pt;
    height: 277pt;
    width: 205pt;
    overflow: hidden;
    overflow-y: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
}
.messages::-webkit-scrollbar {
    width: 0;
}

.message div {
    display: inline-block;
}
.message.user .avatar {
    padding-left: 5pt;
}
.message div md-icon {
    vertical-align: -40%;
}
.message.smartbot div md-icon {
    color: #4bd865;
}
.message.user div md-icon {
    color: #0084ff;
}
.message .message-text {
    border-radius: 10pt;
    background-color: #eeeeee;
    padding: 8pt;
    margin: 5pt;
    width: 165pt;
    word-wrap: break-word;
}
.message.user .message-text {
    background-color: #0084ff;
    color: white;
}
.typing {
    padding-left: 5pt;
    padding-right: 5pt;
}