<md-toolbar>
    <span class="visible-xs visible-xm"><button md-icon-button class="menu-button" (click)="onMenu()"><md-icon>menu</md-icon></button>&nbsp;</span>
    <span class="logo"><a [routerLink]="['.']">смартбот</a></span>

    <md-toolbar-row *ngFor="let link of links" class="visible-xs visible-xm main-sub-menu close">
        <a (click)="onSelectMenuItem(link)">{{ link.title }}</a>
    </md-toolbar-row>

    <span class="fill-remaining-space hidden-xs hidden-xm"></span>

    <md-nav-list class="hidden-xs hidden-xm">
        <md-list-item *ngFor="let link of links">
            <a mdLine (click)="onSelectMenuItem(link)">{{ link.title }}</a>
        </md-list-item>
    </md-nav-list>
</md-toolbar>
