.logo a {
    text-decoration: none;
    color: black;
    font-size: 1.4em;
}
.logo md-icon {
    font-size: 1em;
    vertical-align: -15%;
    width: 0.92em;
}
md-list-item a {
    padding-left: 1em;
    padding-right: 1em;
    font-size: 0.8em;
    cursor: pointer;
}
md-toolbar-row a {
    cursor: pointer;
}

.close {
    display: none!important;
}