.phone {
    background: url(../../assets/img/phone.png) no-repeat;
    background-size: contain;

    height: 500pt;
    width: 250pt;
}

.visible-lg .hello {
    font-size: 2em;
    margin-top: 100pt;
    margin-bottom: 2em;
}
.hidden-lg .hello {
    font-size: 2em;
    margin-top: 20pt;
    margin-bottom: 1em;
}

.large-name {
    color: #5cc7ff;
}
.visible-lg .large-name {
    font-size: 7em;
    margin-bottom: 0.8em;
}
.hidden-lg .large-name {
    font-size: 3.5em;
    margin-bottom: 0.8em;
}
.visible-lg .mat-title {
    margin-left: 30pt;
    margin-right: 30pt;
}
p>md-icon {
    vertical-align: text-bottom;
}

.type-message {
    position: inherit;
    top: 390pt;
    left: 15pt;
    width: 190pt;
}
.reply-to-bot {
    position: absolute;
    left: -152pt;
    height: 35pt;
    font-size: 1.5em;
}
.hotelier-room.hidden-xs {
    position: absolute;
    left: 190pt;
    height: 35pt;
    font-size: 1.5em;
    background-color: #4bd865;
    color: white;
}
.hotelier-room.visible-xs {
    position: inherit;
    top: 470pt;
    margin-bottom: 30pt;
    background-color: #4bd865;
    color: white;
}