<div class="row">
    <div class="col-md-4 hidden-lg">
        <div class="hello">Добро пожаловать в</div>
        <div class="large-name">{{ title }}</div>
        <p class="mat-title">
            <md-icon class="blue">check_circle</md-icon>
            Начните тестировать вашего&nbsp;бота прямо&nbsp;сейчас.
            Для этого просто кликните в&nbsp;поле для&nbsp;печати в&nbsp;мессенджере, где&nbsp;мигает курсор <md-icon>mood</md-icon>
        </p>
        <p class="mat-title">
            <md-icon class="green">check_circle</md-icon> Оцените, как всё<br>
            меняется с появлением бота в&nbsp;вашем отеле
        </p>
    </div>
    <div class="col-md-4 visible-lg text-right">
        <div class="hello">Добро пожаловать в</div>
        <div class="large-name">СМАРТ</div>
        <p class="mat-title">
            <md-icon class="blue">check_circle</md-icon>
            Начните тестировать вашего&nbsp;бота прямо&nbsp;сейчас.
            Для этого просто кликните в&nbsp;поле для&nbsp;печати в&nbsp;мессенджере, где&nbsp;мигает курсор <md-icon>mood</md-icon>
        </p>
    </div>
    <div class="col-md-4 phone">
        <div class="type-message">
            <textarea mdInput placeholder="Напишите сообщение"></textarea>
            <button md-raised-button color="primary" class="reply-to-bot hidden-xs hidden-sm">Ответить боту <md-icon>arrow_forward</md-icon></button>
            <button md-raised-button class="hotelier-room hidden-xs">Рабочий кабинет отельера <md-icon>arrow_forward</md-icon></button>
        </div>
        <button md-raised-button class="hotelier-room visible-xs">Рабочий кабинет отельера <md-icon>arrow_forward</md-icon></button>
    </div>
    <div class="col-md-4 visible-lg text-left">
        <div class="hello">&nbsp;</div>
        <div class="large-name">ОТЕЛЬ</div>
        <p class="mat-title">
            Оцените, как всё <md-icon class="green">check_circle</md-icon><br>
            меняется с появлением бота в&nbsp;вашем отеле
        </p>
    </div>
</div>
